@media print {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        margin: 0;
        font-size: small;
        border: none;
        padding: 0;
        text-align: center;
    }

    h1,
    div,
    button,
    th:last-child,
    td:last-child {
        display: none;
    }
}
